<h1>Employee Data</h1>

<p *ngIf="!empList"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-employee']">Create New</a>
</p>

<table class='table' *ngIf="empList">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>City</th>
            <th>Department</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empList">
            <td>{{ emp.id }}</td>
            <td>{{ emp.firstName }}</td>
            <td>{{ emp.lastName }}</td>
            <td>{{ emp.gender }}</td>
            <td>{{ emp.city }}</td>
            <td>{{ emp.department }}</td>
            <td>{{ emp.phone }}</td>
            <td>
            <td>
                <a [routerLink]="['/employee/edit/', emp.id]">Edit</a> |
                <a [routerLink]="" (click)="delete(emp.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>